# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# iOS release outputs
apps/mobile/ios/fastlane/screenshots/
apps/mobile/ios/*.ipa
apps/mobile/ios/*.dSYM.zip
apps/mobile/ios/fastlane/report.xml
apps/mobile/ios/fastlane/Preview.html

# Build Outputs
dist
.output
.nitro
.tanstack
.vinxi

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
